<h1> Cadastro Usuario</h1>

<form action="/create" method="POST">
  <labe>Nome:</label><br />
  <input name="user" /><br>
  <button> Salvar </button>
</form>


<br /><br /><br />
<a href="/" > voltar </a>
